@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
--orange:#ff7800;
--black: #130f40;
--light-color:#666;
--box-shadow:0 .5rem 1rem Orgba(0,0,0,.1);
--border:.2rem solid Orgba(0,0,0,.1);
--outline:.1rem solid Orgba(0,0,0,.1);
--outline-hover:.2rem solid var(--black);
}
*{
font-family: 'Poppins', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee ;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo {
    color: var(--orange);
}

.header .logo i{
    color:var(--orange) ;
}
.header .navbar a{
font-size: 1.7rem;
margin: 0 1rem;
color: var(--black);
}
.header .navbar a:hover{
color: var(--orange);
} 

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
   line-height: 4.5rem;
   border-radius:.5rem ;
   background: #eee;
   color: var(--black);
   font-size: 2rem;
   margin-right: .3rem;
   text-align: center;
}

.header .icons div:hover{
background-color: var(--orange);
color: #fff;

}

#menu-btn{
    display: none;
    
}